/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }

.jumbotron {
    border-width:50px;
    border-style:solid;
    border-color:rgba(248, 7, 208, 0.5);
}